/* 이건 처음 만드는 스타일 파일 입니다. */
*{margin: 0; padding: 0;}
h1{
    border-bottom: 1px solid black;
    padding: 30px;
}
a{
    color: black;
}
h1 a{
    text-decoration: none;
}
ol{
    list-style: none;
}
ol{
    border-right: 1px solid black;
    width: 110px;
    padding: 30px;
}
#container{display: flex;}
#container>* {
/*                border: 3px solid red;*/
}
#container>#article {
    flex-grow: 1;
    padding: 30px;
}